:root {
    --w: #FFFF;
    --b: #111;
    --g: #A6A6A6;
    --rt-1: #64AAC7;
    --rt-2: #984A4A;
    --rt-3: #6E9158;
    --rt-4: #7C6097;

    --b-2: #B26161;
    --b-4: #9279A9;
    --progress-bg: #595959;
  }

* {
    font-family: Figtree;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
  }

*::-webkit-scrollbar {display: none;}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

main {
    background-color: var(--b);
    color: var(--w);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    min-height: 100dvh;
    width: 100%;
    text-align: left;
}

.header {
  display: none;
}